image:
  name: hashicorp/terraform:1.9.5
  entrypoint:
    - '/usr/bin/env'
    - 'PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin'

variables:
  AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY}
  AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
  IMAGE_NAME: strelchenk0nazar/tgbot_deploy
  IMAGE_TAG: tgbot_deploy
  AWS_DEFAULT_REGION: "us-east-1"

stages:
  # - build_docker_image
  - terraform_plan
  - terraform_apply
  - run_ansible
  - terraform_destroy

# Етап збірки Docker-образу
# build_docker_image:
#   stage: build_docker_image
#   image: docker:latest
#   services:
#     - docker:20.10.16-dind
#   script:
#     - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD
#     - docker build -t $IMAGE_NAME:$IMAGE_TAG .
#     - docker push $IMAGE_NAME:$IMAGE_TAG

# Ініціалізація та перевірка Terraform
terraform_plan:
  stage: terraform_plan
  script:
    - cd terraform
    - rm -rf .terraform  # Очистка кешу Terraform
    - terraform init
    - terraform validate
    - terraform plan -out "planfile"
  artifacts:
    paths:
      - terraform/planfile
      - terraform/terraform.tfstate

# Застосування Terraform
terraform_apply:
  stage: terraform_apply
  dependencies:
    - terraform_plan
  script:
    - cd terraform
    - rm -rf .terraform  # Очистка кешу Terraform
    - terraform init
    - terraform apply -input=false "planfile"
    - echo "Saving elastic-ip from terraform output"
    - export ELASTIC_IP=$(terraform output -raw elastic_ip)  # Отримати значення elastic-ip
    - echo "ELASTIC_IP=${ELASTIC_IP}" >> terraform.env  
  artifacts:
    expire_in: 1 hour
    reports:
      dotenv: terraform.env  # Зберегти в артефакти як змінну середовища    # Зберегти в .env файл
  when: manual

# Запуск Ansible Playbook
run_ansible:
  stage: run_ansible
  image: williamyeh/ansible:alpine3
  before_script:
    - ansible-galaxy collection install -r requirements.yml
  script:
    - ansible-playbook --syntax-check vm-setup-playbook.yml
    - ansible-playbook --inventory ansible/inventory/hosts.ini vm-setup-playbook.yml --extra-vars "elastic_ip=${ELASTIC_IP}"
  variables:
    ANSIBLE_HOST_KEY_CHECKING: "False"
  dependencies:
    - terraform_apply
  when: manual

# Знищення інфраструктури
terraform_destroy:
  stage: terraform_destroy
  script:
    - cd terraform
    - terraform init
    - terraform destroy -auto-approve
  dependencies:
    - terraform_apply
  when: manual

