image:
  name: hashicorp/terraform:1.9.5
  entrypoint:
    - '/usr/bin/env'
    - 'PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin'

variables:
    IMAGE_NAME: strelchenk0nazar/tgbot_deploy
    IMAGE_TAG: tgbot_deploy
    AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY}
    AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
    AWS_DEFAULT_REGION: "us-east-1"

stages:
  - build_docker_image
  - terraform_validate
  - terraform_plan
  - terraform_apply
  - run_ansible
  - terraform_destroy

# Етап збірки Docker-образу
build_docker_image:
  stage: build_docker_image
  image: docker:latest
  services:
    - docker:20.10.16-dind
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD
  script:
    - docker build -t $IMAGE_NAME:$IMAGE_TAG .
    - docker push $IMAGE_NAME:$IMAGE_TAG


before_script:
  - export AWS_ACCESS_KEY=${AWS_ACCESS_KEY_ID}
  - export AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
  - cd terraform
  - rm -rf .terraform
  - terraform --version
  - terraform init

# Етап ініціалізації та виконання Terraform
terraform_validate:
   stage: terraform_validate #hashicorp/terraform:latest  # Використовуємо Alpine для shell команд
   script:
    - terraform validate

terraform_plan:
  stage: terraform_plan
  script: 
    - terraform plan -out "planfile"
    - ls -la
  dependencies:
    - terraform_validate  
  artifacts:
    paths:
      - terraform/planfile

terraform_apply: 
  stage: terraform_apply
  dependencies:
    - terraform_plan
  script: 
    - ls -la
    - terraform apply -input=false "planfile"
    - export EC2_IP=$(terraform output -raw ec2_elastic_ip)  #
    - echo $EC2_IP > ec2_ip.txt #
  artifacts: #
    paths: #
      - ec2_ip.txt #
  when: manual


run_ansible:
  stage: run_ansible
  dependencies:
    - terraform_apply
  image: williamyeh/ansible:alpine3
  script:
    - export EC2_IP=$(cat ec2_ip.txt)
    - echo "[webserver]" > inventory
    - echo $EC2_IP >> inventory
    - ansible-playbook --inventory ansible/inventory/hosts.ini vm-setup-playbook.yml
  variables:
    ANSIBLE_HOST_KEY_CHECKING: "False"
  when: manual  

terraform_destroy:
  stage: terraform_destroy
  script: 
  - terraform destroy -auto-approve
  when: manual

