variables:
    IMAGE_NAME: strelchenk0nazar/tgbot_deploy
    IMAGE_TAG: tgbot_deploy

stages:
  - build
  - terraform_apply
  - ansible_deploy

# Етап збірки Docker-образу
build_docker_image:
  stage: build
  image: docker:latest
  services:
    - docker:20.10.16-dind
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD
  script:
    - docker build -t $IMAGE_NAME:$IMAGE_TAG .
    - docker push $IMAGE_NAME:$IMAGE_TAG
  only:
    - main

# Етап ініціалізації та виконання Terraform
terraform_apply:
  stage: terraform_apply
  image: alpine:latest  # Використовуємо Alpine для shell команд
  script:
    - apk add bash  # Встановлюємо bash, якщо він не встановлений
    - cd terraform
    - terraform init
    - terraform plan
    - terraform apply -auto-approve
  only:
    - main
  variables:
    TF_VAR_aws_access_key_id: $AWS_ACCESS_KEY_ID
    TF_VAR_aws_secret_access_key: $AWS_SECRET_ACCESS_KEY

# Етап розгортання з використанням Ansible
ansible_deploy:
  stage: ansible_deploy
  image: williamyeh/ansible:alpine3
  script:
    - cd ansible
    - ansible-playbook -i inventory.ini deploy.yml
  only:
    - main
  variables:
    ANSIBLE_HOST_KEY_CHECKING: "False"
