image: hashicorp/terraform:1.9.5

variables:
  IMAGE_NAME: strelchenk0nazar/tgbot_deploy
  IMAGE_TAG: tgbot_deploy
  AWS_DEFAULT_REGION: "us-east-1"


before_script:
  - export AWS_ACCESS_KEY=${AWS_ACCESS_KEY_ID}
  - export AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}

stages:
  - build_docker_image
  - terraform_plan
  - terraform_apply
  - run_ansible
  - terraform_destroy

# Етап збірки Docker-образу
build_docker_image:
  stage: build_docker_image
  image: docker:latest
  services:
    - docker:20.10.16-dind
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD
    - docker build -t $IMAGE_NAME:$IMAGE_TAG .
    - docker push $IMAGE_NAME:$IMAGE_TAG

# Ініціалізація та перевірка Terraform
terraform_plan:
  stage: terraform_plan
  script:
    - cd terraform
    - terraform init
    - terraform validate
    - terraform plan -out "planfile"
  artifacts:
    paths:
      - terraform/planfile

# Застосування Terraform
terraform_apply:
  stage: terraform_apply
  dependencies:
    - terraform_plan
  script:
    - cd terraform
    - terraform apply -input=false "planfile"
  when: manual

# Запуск Ansible Playbook
run_ansible:
  stage: run_ansible
  dependencies:
    - terraform_apply
  image: williamyeh/ansible:alpine3
  script:
    - ansible-playbook --inventory ansible/inventory/hosts.ini ansible/vm-setup-playbook.yml
  variables:
    ANSIBLE_HOST_KEY_CHECKING: "False"
  when: manual

# Знищення інфраструктури
terraform_destroy:
  stage: terraform_destroy
  script:
    - cd terraform
    - terraform destroy -auto-approve
  when: manual
