---
- name: Deploy Docker container
  hosts: my_servers
  become: yes
  vars:
    IMAGE_NAME: strelchenk0nazar/tgbot_deploy
    IMAGE_TAG: tgbot_deploy
  tasks:
    - name: Add server to known hosts
      add_host:
        name: "{{ inventory_hostname }}"
        ansible_host: "{{ elastic_ip }}"
    
    - name: Print Elastic IP
      debug:
        msg: "Elastic IP is {{ elastic_ip }}"

    - name: Ensure Docker is installed
      apt:
        name: docker.io
        state: present

    - name: Log in to Docker Hub
      community.docker.docker_login:
        username: strelchenk0nazar
        password: WGdolarpo30N

    - name: Pull Docker image from repository
      community.docker.docker_image:
        name: "{{ IMAGE_NAME }}:{{ IMAGE_TAG }}"
        source: pull

    - name: Stop and remove existing container if any
      community.docker.docker_container:
        name: tgbot_deploy
        state: absent

    - name: Run Docker container
      community.docker.docker_container:
        name: tgbot_deploy
        image: "{{ IMAGE_NAME }}:{{ IMAGE_TAG }}"
        state: started
        ports:
          - "80:80"

